*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(120deg,#f6d365,#fda085);
}

.QR-Code{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    width:300px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:black;
    color:white;
    border:none;
    cursor:pointer;
}

img{
    margin-top:15px;
    width:200px;
}